<!DOCTYPE html>
<html lang="en" ng-app="miAgendita">
<head>
	<meta charset="UTF-8">
	<title>Resultado del Curso de AngularJS de 0 a 100</title>
</head>
<body>
	<div ng-controller="agenda">
		<h4>Mi Agendita</h4>
		
		<input type="search" ng-model="filtro">

		<p ng-repeat="persona in personas | filter: filtro">
			{{ persona.nombres }}: {{ persona.email }}
		</p>


	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>

	<script>
		miTiendita = angular.module( 'miAgendita', [] );

		miTiendita.controller( 'agenda', [ '$scope', function ($scope) {
			$scope.personas = [
				{ 'nombres': 'Alexis Sanchez', 'email': 'alersis@arsenal.uk' },
				{ 'nombres': 'Arturo Vidal', 'email': 'kingarturo@fcbm.ge' },
				{ 'nombres': 'Claudio Bravo', 'email': 'herrera-es-mi-hijo@fcb.cat' },
				{ 'nombres': 'Gary Medel', 'email': 'inter@gary.medel' }
			];
		} ] );
	</script>
</body>
</html>